
<% content_for :header_tags do %>
<%= theme_stylesheet_link_tag 'global.css', 'jquery-ui.css', :media => 'print,screen' %>
<%= theme_stylesheet_link_tag 'global_print.css', :media => 'print' %>
<%= javascript_include_tag 'jquery-1.4.2.min.js', 'jquery-ui-1.8rc3.custom.min.js', 'jquery.jeditable.mini.js', 'jquery.cookie.js', 'common.js', :plugin => 'redmine_backlogs' %>
<%= yield :head_tags -%>
<% end %>
<!-- looks like we don't need this anymore -->
<!--[if lte IE 1]>
<script type="text/javascript">
    // and when it all appears to work beautifully on every browser,
    // it fails on IE
    $(document).ready(function() {
        var zIndex = 10000;
        $('div, ul, li, span').each(function() {
            $(this).css('zIndex', zIndex);
            zIndex -= 10;
        });
    });
</script>
<![endif]-->



  <div id="toolbar">
    <div class="breadcrumbs">
      <span class="home"><%= link_to @project.name, :controller => :projects, :action => :show, :id => @project %></span>
      <%= breadcrumb_separator %>
      <%= yield :breadcrumbs -%>
    </div>
    <div class="links">
      <%= yield :view_specific_links -%>
    </div>
  </div>
  <div id="main">
    <%= yield :main %>
  </div>
  <div id="helpers">
    <%= yield :helpers %>
  </div>
